//colors
$color-primary-light: #F7FAFF;
$color-primary-dark : #428EDF;
$color-primary-darker : #0057B7;
$color-primary-darkest : #0A2067;
$color-ascent : #FCC21B;
$color-dark : #000000;
$color-white : #ffffffff;

//font family 
$font-fam-pri: 'Montserrat',sans-serif;

$fsLarger : 4.5rem;
$fsMedium : 3.6rem;
$fsSmall : 2.1rem;
$fsText : 1.8rem;
$fsTextsm : 1.4rem;

$vertical-gutter-larger : 9rem;
$vertical-gutter-normal : 4.5rem;
$vertical-gutter-small : 3rem;
$vertical-gutter-exsmall : 1.5rem;

