.db{
    max-width: 89%;
    margin: 0 auto;
}

.bdg-data-sheets {
    margin-top: 12rem;
    background-image: url(./img/pumped-water.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 15px;
    margin-bottom: 4rem;
}